@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  /* --primary: #f7efda; */
  /* --primary: #fafdfd; */
  --primary: #d6dde1;

  --secondary: #74af77;
  /* --secondary: #f93585; */
  /* --primary: #eeedec; */

  --background-color: #312e45;
  /* background-color: #322540; */
  /* background-color: #1c2337; */
  /* background-color: #292c34; */
  /* --background-color: #26272c; */

  --toastify-color-dark: #1e1c29;
  --toastify-color-success: #74af77;
  --toastify-color-error: #ef4444;
  --toastify-text-color-dark: #d6dde1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background-color);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-family);
}

@utility input-field {
  @apply absolute top-0 left-0 h-full w-full border border-gray-600 rounded-lg 
         bg-transparent px-4 py-2 text-primary outline-none transition-all
         focus:border-primary  peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2;
}

@utility floating-label {
  @apply absolute left-3 top-1/2 -translate-y-1/2 px-1 text-gray-400 transition-all duration-200
                 pointer-events-none bg-background
                 peer-focus:top-0 peer-focus:text-xs peer-focus:text-secondary
                 peer-[:not(:placeholder-shown)]:top-0 peer-[:not(:placeholder-shown)]:text-xs;
}

body {
  background: linear-gradient(
    to bottom right,
    #3c394e 0%,
    var(--color-background) 50%,
    var(--color-background) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-primary);
  font-family: var(--font-sans);
}
